<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/form.css">
    <title>列表文件</title>
</head>
<body>
<h1>这是表单文件</h1>
<form action="/create/list" method="post">
    名称: <input type="text" name="name"><br />
    金额: <input type="number" name="account"><br />
    类型: <select name="type" id="type">
        <option value="1">支出</option>
        <option value="0">收入</option>
    </select><br>
    <hr>
    <button>提交</button>
</form>
</body>
</html>
